<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="./">MT-Admin</a>
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuPengesahan" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pengesahan
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuPengesahan">
                <a class="dropdown-item" href="/pengesahan-negeri">Negeri</a>
                <a class="dropdown-item" href="/pengesahan-kebangsaan">Kebangsaan</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Laporan
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/stats-penyertaan">Laporan Penyertaan</a>
                <a class="dropdown-item" href="#">Laporan Umum</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuRepo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Repositori
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuRepo">
                <a class="dropdown-item" href="#">Bahan Rujukan Pertandingan</a>
                <a class="dropdown-item" href="./tugasan">Tugasan Peserta</a>
            </div>
        </div>
        <div class="form-inline ml-auto">
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuPengesahan" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tetapan
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuPengesahan">
                    <a class="dropdown-item" href="./__setpertandingan">Pertandingan</a>
                    <a class="dropdown-item" href="./__setsekolah">Sekolah</a>
                    <a class="dropdown-item" href="./__setusers">Pengguna</a>
                </div>
            </div>
            <a class="btn btn-dark" id="btnProfile" href="./login"> 
                Profile
            </a>
        </div>
    </div>
</nav>