<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Profile</a>
            <div class="form-inline ml-auto">
                <input id="txtsearch" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button id="btnsearch" class="btn btn-outline-success my-2 my-sm-0">Search</button>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <!-- Detail Card -->
            <div class="col-12">
                <div id="card-detail" class="card d-none">
                    <div class="card-header">
                        Detail
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody id="tb-detail">
                                <!-- Data rows will be inserted here dynamically -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Sekolah Card -->
            <div class="col-12">
                <div id="card-sekolah" class="card d-none">
                    <div class="card-header">
                        Sekolah
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Negeri</th>
                                    <th>Nama Sekolah</th>
                                    <th>Kod Sekolah</th>
                                    <th>Jenis</th>
                                </tr>
                            </thead>
                            <tbody id="tb-sekolah">
                                <!-- Data rows will be inserted here dynamically -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Peserta Card -->
            <div class="col-12">
                <div id="card-peserta" class="card d-none">
                    <div class="card-header">
                        Peserta
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nama</th>
                                    <th>KP</th>
                                    <th>Kod Sekolah</th>
                                    <th>Nama Sekolah</th>
                                </tr>
                            </thead>
                            <tbody id="tb-peserta">
                                <!-- Data rows will be inserted here dynamically -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Kumpulan Card -->
            <div class="col-12">
                <div id="card-kumpulan" class="card d-none">
                    <div class="card-header">
                        Kumpulan
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nama Kumpulan</th>
                                    <th>Pertandingan</th>
                                    <th>Kod Sekolah</th>
                                    <th>Nama Sekolah</th>
                                </tr>
                            </thead>
                            <tbody id="tb-kumpulan">
                                <!-- Data rows will be inserted here dynamically -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./assets/jquery/3.6.0/jquery-3.6.0.min.js"></script>
    <script src="./assets/d3/v7/d3.v7.min.js"></script>

    <script>
        let api = {
            search: {
                sekolah: (fn) => {
                    var src = $('#txtsearch').val();
                    $.ajax({
                        type: "POST",
                        url: '/api/search/sekolah',
                        data: {
                            searchstr: src
                        },
                        success: function (res) {
                            fn(res);
                        },
                        dataType: 'json'
                    });
                },
                peserta: (fn) => {
                    var src = $('#txtsearch').val();
                    $.ajax({
                        type: "POST",
                        url: '/api/search/peserta',
                        data: {
                            searchstr: src
                        },
                        success: function (res) {
                            fn(res);
                        },
                        dataType: 'json'
                    });
                },
                kumpulan: (fn) => {
                    var src = $('#txtsearch').val();
                    $.ajax({
                        type: "POST",
                        url: '/api/search/kumpulan',
                        data: {
                            searchstr: src
                        },
                        success: function (res) {
                            fn(res);
                        },
                        dataType: 'json'
                    });
                },
            }
        }
    </script>

    <script>
        $(document).ready(()=>{
            d3.select('#btnsearch').on('click', (e, d)=>{
                api.search.sekolah(sekolah => {
                    console.log(sekolah);
                    if(sekolah.length>0){
                        $('#card-sekolah').removeClass('d-none');
                        render_search_sekolah(sekolah)

                    }else{
                        $('#card-sekolah').addClass('d-none');
                    }
                });

                api.search.peserta(peserta => {
                    console.log(peserta);
                    if(peserta.length>0){
                        $('#card-peserta').removeClass('d-none');
                        render_search_peserta(peserta)
                    }else{
                        $('#card-peserta').addClass('d-none');
                    }
                });

                api.search.kumpulan(kumpulan => {
                    console.log(kumpulan);
                    if(kumpulan.length>0){
                        $('#card-kumpulan').removeClass('d-none');
                        render_search_kumpulan(kumpulan)
                    }else{
                        $('#card-kumpulan').addClass('d-none');
                    }
                });
            })
        })
    </script>

    <script>
        render_search_sekolah = (data)=>{
            $('#card-detail').addClass('d-none');
            var tb = d3.select('#tb-sekolah');
            tb.selectAll('tr').remove();

            tb.selectAll('tr').data(data).enter().append('tr').call(o=>{
                o.append('td').text(d=>d.negeri);
                o.append('td').text(d=>d.namasekolah);
                o.append('td').text(d=>d.kodsekolah);
                o.append('td').text(d=>d.jenis_label);

                o.on('mousemove', (e, d)=>{
                    d3.select(e.currentTarget).attr('style','background-color:#eaeaea')
                }).on('mouseout', (e, d)=>{
                    d3.select(e.currentTarget).attr('style','background-color:#fff')
                });

                o.on('click', (e,d)=>{
                    render_details(d, 'Sekolah');
                })
            })
        }

        render_search_peserta = (data)=>{
            $('#card-detail').addClass('d-none');
            var tb = d3.select('#tb-peserta');
            tb.selectAll('tr').remove();

            tb.selectAll('tr').data(data).enter().append('tr').call(o=>{
                o.append('td').text(d=>d.nama);
                o.append('td').text(d=>d.kp);
                o.append('td').text(d=>d.kodsekolah);
                o.append('td').text(d=>d.namasekolah);

                o.on('mousemove', (e, d)=>{
                    d3.select(e.currentTarget).attr('style','background-color:#eaeaea')
                }).on('mouseout', (e, d)=>{
                    d3.select(e.currentTarget).attr('style','background-color:#fff')
                });

                o.on('click', (e,d)=>{
                    render_details(d, 'Peserta');
                });
            })
        }

        render_search_kumpulan = (data)=>{
            $('#card-detail').addClass('d-none');
            var tb = d3.select('#tb-kumpulan');
            tb.selectAll('tr').remove();

            tb.selectAll('tr').data(data).enter().append('tr').call(o=>{
                o.append('td').text(d=>d.nama_kumpulan);
                o.append('td').text(d=>d.program);
                o.append('td').text(d=>d.kodsekolah);
                o.append('td').text(d=>d.namasekolah);

                o.on('mousemove', (e, d)=>{
                    d3.select(e.currentTarget).attr('style','background-color:#eaeaea')
                }).on('mouseout', (e, d)=>{
                    d3.select(e.currentTarget).attr('style','background-color:#fff')
                });

                o.on('click', (e,d)=>{
                    render_details(d, 'Kumpulan');
                });
            })
        }

        jsonToRows = (json) => {
            let rows = [];
            for (let key in json) {
                rows.push([key, json[key]]);
            }
            return rows;
        }

        render_details = (data, info)=> {
            d3.select('#card-detail').select('.card-header').text(`Detail ${info}`)
            $('#card-detail').removeClass('d-none');
            $('#card-sekolah').addClass('d-none');
            $('#card-peserta').addClass('d-none');
            $('#card-kumpulan').addClass('d-none');
            var detail = jsonToRows(data);
            //console.log(detail)
            var tb = d3.select('#tb-detail');
            tb.selectAll('tr').remove();

            tb.selectAll('tr').data(detail).enter().append('tr').call(o=>{
                o.append('td').text(d=>d[0]);
                o.append('th').text(d=>d[1]);

                o.on('mousemove', (e, d)=>{
                    d3.select(e.currentTarget).attr('style','background-color:#eaeaea')
                }).on('mouseout', (e, d)=>{
                    d3.select(e.currentTarget).attr('style','background-color:#fff')
                })
            })
        }
    </script>
</body>
</html>
